@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

/* 
--------------------------------
NAV SECTION
---------------------------------
*/

nav {
  justify-content: space-between;
  margin-left: 120px;
  margin-top: 80px;
  margin-right: 120px;
}

.nav-list {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600px;
}

nav ul {
  list-style-type: none;
  gap: 34px;
}

nav .label {
  font-weight: 700px;
  font-size: 24px;
}

nav .i {
  height: 24px;
  width: 24px;
}

/* 
--------------------------------
RESPONSIVE MOBILE
---------------------------------
*/

@media (max-width: 768px) {
  nav,
  nav ul {
    flex-direction: column;
  }

  nav {
    justify-content: center;
    text-align: center;
  }
}
